

<!DOCTYPE html>
  <html>
    <meta charset = "gb18030">
    <head>  
      <link rel = "stylesheet" type = "text/css" href = "/css/main.css">
      <script src = "/lib/jquery-1.9.1.min.js"></script>
      <script type="text/javascript" src="/lib/jquery-ui.js"></script>
      <link rel="stylesheet" type="text/css" href="/css/jquery.ui.theme.css">
      <link rel="stylesheet" type="text/css" href="/css/jquery-ui.css">
      <link rel="stylesheet" type="text/css" href="/css/jquery-ui.min.css">  
      <script type = "text/javascript" src = "/js/main.js"></script>
    </head>
    <body>
      <div id = "header">
        <div id = "logo" class="title">FlashCards</div>
        <div class="menu">
          <div id = "newCards">New Cards</div>
          <div id = "share">Share</div>
          <div id = "sign">
            {% if user %}
              Hello, {{ user.nickname }}. <a href="{{ logout_url }}">Sign out.</a>
            {% else %}
              You are not logged in. <a href="{{ login_url }}">Sign in or create account.</a>
            {% endif %}
          </div>
        </div>
      </div>
      <div id ="content">
        <div class = "left">
          <ul id = "menu">
            {%if deckNames %}
              {% for name in deckNames %}
                <li><a href= "/?deckName={{ name }}">{{ name }}</a></li>
              {% endfor %}
            {% else %}
              <div>You have no decks of cards</div>
            {%endif %}
          </ul>

        </div>
        <div class = "middle">
          <div id = "buttons">
            <button id = "next">Next</button>
            <button id = "shuffle"> Shuffle</button>
            <button id = "auto"> Auto Display</button>
            <button id = "stop"> Stop Auto Display</button>
          </div>
          <div id = "flashcard"  class="flip-container" ontouchstart="this.classList.toggle('hover');" data-json="{{content_json}}">
            <div class="flipper">
              <div class="front">
                <div id = "english" ></div>
                <div id = "chinese" lang = "zh-CN"></div>
                <div id = "pinyin"></div>
              </div>
              <div class="back">
                back
              </div>
            </div>
          </div>
          <div id = "buttomBtn">
            <button id = "answer"> Show the answer</button>
            <button id = "reviewBtn"> Review later</button>
          </div>
        </div>
      </div>
      <hr>
      <div id = "footer">@Emma Baumstarck</div>

		</body>
  </html>