#flashcard{
  width: 600px;
  height: 300px;
  border-style: solid;
  border-color:#4d90fe;
  position:fixed;
  top:30%;
  left:50%;
  margin-top:-150px;
  margin-left:-300px;
}
#english,#chinese,#pinyin{
  font-size: 30px;
  text-align: center;
}
#buttons{
  position: fixed;
  left:38%;
}
#buttomBtn{
  position:fixed;
  top:50%;
  left:45%;
}